ignore/
fakedatadst.json
fakedatasrc.json
*venv
mantest.py
othertest
gotest
build
dist
src/**/__pycache__/
**/*.egg-info/
tests/*.json
.oldsrc/
_build
tests/test_production.py
tests/__pycache__
__pycache__
localtest_*.py
localtest_*.yml
localtest_*.*
.docs-old
docs/.vitepress/dist
docs/.vitepress/cache
node_modules
/*.yaml
!/.readthedocs.yaml
/*.xml
config.mts.timestamp*.mjs
.output