requests
polars[all]==0.17.5
sqlalchemy
faker
pandas
psycopg
pyyaml
pymysql
pyodbc
pymssql
mysql-connector-python
alive-progress
tabulate
testcontainers==4.8.2
# Cryptography is a sub-dependency of sqlalchemy when establishing a connection to the testcontainer provided database
cryptography