requests
polars[all]==1.14.0
sqlalchemy
pandas==2.2.3
psycopg
pyyaml
pymysql
pyodbc
pymssql
mysql-connector-python
alive-progress
tabulate
pymongo==4.10.1

# Below packages are subdependencies of sqlalchemy
cryptography
psycopg2

# Only used for testing
testcontainers==4.8.2
faker